<%= form_for [@event, comment] do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: comment} %>

  <div class="form-group">
    <%= f.text_area :body, class: 'form-control', placeholder: t('activerecord.attributes.comment.body') %>
  </div>

  <% unless user_signed_in? %>
    <div class="form-group">
      <%= f.text_field :user_name, class: 'form-control', placeholder: t('activerecord.attributes.user.name') %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit 'Отправить', class: 'btn btn-primary' %>
  </div>
<% end %>