<%= form_for [@event, photo], html: {multipart: true} do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: photo} %>

  <div class="input-group ml-3">
    <div class="custom-file">
      <%= f.label :photo, class: 'custom-file-label', for: 'myinput' %>
      <%= f.file_field :photo, class: ' custom-file-input', id: 'myinput' %>
    </div>

    <div class="input-group-append mr-3">
      <%= f.submit 'Загрузить', class: 'btn btn-outline-secondary', id: 'myinput' %>
    </div>
  </div>
<% end %>
