<!DOCTYPE html>
<html>
<head>
  <title>MeetingPoint</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<div class="navbar navbar-default navbar-static-top bg-secondary">
  <div class="container">
    <%= link_to "Место встречи изменить нельзя", root_path, class: 'navbar-brand text-white' %>

    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Link1", "/path1" %></li>
        <li><%= link_to "Link2", "/path2" %></li>
        <li><%= link_to "Link3", "/path3" %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <%= yield %>
    </div>
    <div class="col-lg-3">
      <div class="well sidebar-nav">
        <h3>Sidebar</h3>
        <ul class="nav nav-list">
          <li class="nav-header">Sidebar</li>
          <li><%= link_to "Link1", "/path1" %></li>
          <li><%= link_to "Link2", "/path2" %></li>
          <li><%= link_to "Link3", "/path3" %></li>
        </ul>
      </div>
    </div>
  </div>

  <footer>
    <p>&copy; Абыр Абыр</p>
  </footer>

</div>
</body>
</html>
